html, body {
  margin:0px;
  height:100%;
}

.wrapper {
  margin: auto;
  position:absolute;
  top:0px;
  right:0px;
  bottom:70px;
  left:0px;
  border: 1px black solid;
  background-color: #222222;
  color: #FFFFFF;
  padding: 20px;
}

.navbar {
  background-color: #111111;
  width: 100%;
  height: 70px;
  position:absolute;
  bottom: 0px;
  margin: auto;
}

.navbar-item{
  background-color: #FFFFFF;
}